<table border="1">
<thead>
<tr>
<td colspan="2"><span style="font-weight:bold">President Candidates</span></td>
</tr>
</thead>
<tr>
<th>Name</th>
<th>Mentions</th>
</tr>

<% @results.each do |candidate| %>
<tr>
<td><%=candidate.name%></td>
<td><%=candidate.mentions%></td>
</tr>
<% end %>

</table>

<%= link_to "Home", parser_path %>